# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.c9/
*.launch
.settings/
*.sublime-workspace

# Android
local.properties
proguard-rules.pro
captures/
.externalNativeBuild
.cxx

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Misc
*.log
*.swp
*.class
